<div id="preloader" ng-show="loadingView">
</div>
<div ng-controller="NavigationController">
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Customer Support</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-if="current_user != null && current_user['role'] == 'customer' ">
                  <a href="/customer/new_issue">New Ticket</a>
                </li>
                <li ng-if="current_user != null && current_user['role'] == 'customer' ">
                  <a href="/customer">My Tickets</a>
                </li>
                <li ng-if="current_user != null && current_user['role'] == 'executive' ">
                  <a href="/executive">Tickets</a>
                </li>
                <li ng-if="current_user != null && current_user['role'] == 'admin' ">
                  <a href="/admin">Tickets</a>
                </li>
                <li ng-if="current_user != null && current_user['role'] == 'admin' ">
                  <a href="/users">Users</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="current_user != null" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi, {{current_user["name"]}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>



<script>
    $(".nav li").on("click", function() {
        $(".nav li").removeClass("active");
        $(this).addClass("active");
    });
</script>
