
<div class="row" ng-controller="HomeAdminController" ng-init="fetchUsers()">
  <div class="col-md-10 col-offset-1">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
      <!-- <div ng-repeat="user in Users"> -->
        <tr ng-repeat="user in Users">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.roles_array[0]}}</td>
        </tr>
      <!-- </div> -->
      </tbody>
    </table>
  </div>
</div>