<div class="row" ng-controller="HomeCustomerController" ng-init="fetchIssues()">
  <div class="mt-50">
  <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 well-div">
    <div class="text-center">
      <div ng-if="getallAgenciesError" class="alert" ng-class="alert-danger">
        <span > {{getallAgenciesError}}</span>
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li><a data-target="#open" data-toggle="tab" class="cursor">Open</a></li>
      <li><a data-target="#closed" data-toggle="tab" class="cursor">Closed</a></li>
      <li class="active"><a data-target="#home" data-toggle="tab" class="cursor">All Issues</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <div ng-if="!getallAgenciesError" ng-repeat="issue in allIssues">
        <a href="/customer/issues/{{issue.id}}">
          <h4 class="mt-20">{{issue.title}}</h4>
          <p class="mt-10">{{issue.description}}</p>
        </a>
          <hr>

        </div>
      </div>
      <div class="tab-pane" id="open">
        <div ng-if="!getallAgenciesError" ng-repeat="issue in allIssues">
        <span ng-if="issue.status !='resolved'">
        <a href="/customer/issues/{{issue.id}}">
          <h4 class="mt-20">{{issue.title}}</h4>
          <p class="mt-10">{{issue.description}}</p>
          </a>
          <hr>
        </div>
        </span>
      </div>
      <div class="tab-pane" id="closed">
        <div ng-if="!getallAgenciesError" ng-repeat="issue in allIssues">
        <span ng-if="issue.status=='resolved'">
        <a href="/customer/issues/{{issue.id}}">
          <h4 class="mt-20">{{issue.title}}</h4>
          <p class="mt-10">{{issue.description}}</p>
          </a>
          <hr>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>